<settings>
    <setting propertyKey="@Properties.apikey" title="SparkyFit API Key">
        <settingConfig type="alphaNumeric" readonly="false" maxLength="100"/>
    </setting>

    <setting propertyKey="@Properties.sparkyfithost" title="SparkyFit Host">
        <settingConfig type="alphaNumeric" readonly="false" maxLength="100"/>
    </setting>

    <setting propertyKey="@Properties.glancedata" title="Select data to show on glance">
        <settingConfig type="list">
            <listEntry value="0">calories</listEntry>
            <listEntry value="1">proteins</listEntry>
            <listEntry value="2">carbs</listEntry>
            <listEntry value="3">fats</listEntry>
            <listEntry value="4">hidratation</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.glancesync" title="Enable glance sync">
        <settingConfig type="boolean" readonly="false"/>
    </setting>

    <!-- <setting propertyKey="@Properties.water_container_id" title="Water Container ID">
        <settingConfig type="numeric" readonly="false" min="-1" max="999999"/>
    </setting> -->

    <setting propertyKey="@Properties.view_calories" title="Enable calories view">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.view_nutrition" title="Enable nutrition view">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.view_nutrition_pie" title="Enable nutrition pie">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.view_nutrition_trends" title="Enable nutrition trends">
        <settingConfig type="boolean"/>
    </setting>
    <!-- <setting propertyKey="@Properties.view_custom_nutrition" title="Enable custom nutrition trends | Touchscreen only">
        <settingConfig type="boolean"/>
    </setting> -->

    <setting propertyKey="@Properties.view_hydration" title="Enable hydratation view | Touchscreen only">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.view_weight" title="Enable weight view | Touchscreen only">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.view_weight_trends" title="Enable weight trends">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.log_notification" title="Enable daily log notification">
        <settingConfig type="boolean"/>
    </setting>

    <setting propertyKey="@Properties.log_notification_hour_utc" title="Daily Notification hour">
        <settingConfig type="numeric" readonly="false" max="24"/>
    </setting>

</settings>